# Python virtual environments
.venv/
venv/
myenv/

# Python cache
__pycache__/
*.pyc

# Environment files
.env
*.env

# Node modules
node_modules/

# IDE files
.idea/

# Logs
*.log
debug.log

# Test files
test.py

/data
data/

/db 
db/

/output
output/

/cache 
cache/

/faiss_store
faiss_store/

/models 
models/
